* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0052d0 !important;
}

hr{
  border: 2px solid white;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Regular.ttf");
  font-weight:normal;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Bold.ttf");
  font-weight:bold;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Black.ttf");
  font-weight:900;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-ExtraLight.ttf");
  font-weight:100;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Light.ttf");
  font-weight:300;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-SemiBold.ttf");
  font-weight:600;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-Medium.ttf");
  font-weight:500;
}

@font-face {
  font-family: "Cairo";
  src: url("../public/fonts/Cairo/Cairo-ExtraBold.ttf");
  font-weight:800;
}
